<h3>E ai Beleza? Eu sou um <strong>Carrossel</strong></h3>

{% schema %}
{
  "name": "Carrossel",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
