.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
  font-size: 11px;
  background: #EBEBEB;
  height: 35px;
  margin-right: 5px
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
  height: 35px;
  max-width: 40rem;
  margin: 0 auto;
}

.newsletter-form__field-wrapper .field__label {
  font-size: 11px;
  top: 15px;
}

.newsletter-form__field-wrapper .field::after,
.field:hover.field:after {
  box-shadow: none;
}

.newsletter-form__message {
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}
.email-subscribe {
  color: #707070;
  font-size: 10px;
  display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
  font-style: italic;
  text-align: left;
}

.newsletter__subheading {
  margin-top: 6px;
}
.newsletter-form__button {
  width: 95px;
  margin: 0;
  height: 100%;
  z-index: 2;
  background: #204028;
  color: #FFFCF4;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .newsletter-form__field-wrapper .field__input,
  .newsletter-form__field-wrapper .field {
    height: 43px;
  }

  .email-subscribe {
    justify-content: center;
  }
}
