slider-component a.produto-comprar{
    text-decoration: none;
}

.swiper-button-next,.swiper-button-prev{
    background: hsl(100 100 100);
    border-radius: 50%;
    display: block!important;
    padding:2rem;
  }

  .swiper-button-next:after{
    position: absolute;
    top: 50%;
    right: 29%;
    transform: translateY(-50%) translateX(-50%);
    filter: brightness(0);
    font-size:1.3rem;
  }

  .swiper-button-prev:after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 47%;
    filter: brightness(0);
    font-size:1.3rem;
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .section-carousel {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .mySwiper {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .mySwiper.swiper-initialized {
    opacity: 1;
  }