.newsletter__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}


.newsletter h2 {
  color: #204028;
  font-size: 24px;
  font-weight: 800;
}

.newsletter__subheading {
  font-size: 12px;
  color: #1E1E1E;
  margin-bottom: 20px;
}


@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
  
  .newsletter h2 {
    font-size: 30px;
  }

  .newsletter__subheading {
    font-size: 16px;
    margin-top: 10px;
  }
  
  
}
