.multicolumn-category .title {
  margin: 0;
}

.multicolumn-category.no-heading .title {
  display: none;
}

.multicolumn-category .title-wrapper-with-link {
  margin-top: 0;
  justify-content: center;
  margin-bottom: 10px;
}

.multicolumn-category .title-wrapper-with-link h2 {
  font-size: 30px;
  color: #204028;
  text-decoration: none;
}

@media screen and (max-width: 749px) {
  .multicolumn-category .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .multicolumn-category .title-wrapper-with-link h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-category__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn-category .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-category-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-category-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-category-list__item.center
  .multicolumn-category-card__image-wrapper:not(
    .multicolumn-category-card__image-wrapper--full-width
  ),
.multicolumn-category-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn-category .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn-category .button {
    margin-top: 4rem;
  }
}

.multicolumn-category-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-category-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-category-list__item--empty {
  display: none;
}

.multicolumn-category:not(.background-none) .multicolumn-category-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn-category-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-category-list h3,
.multicolumn-category-list p {
  margin: 0;
}

.multicolumn-category-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-category-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-category-list__item.center .media--adapt,
.multicolumn-category-list__item
  .media--adapt
  .multicolumn-category-card__image {
  width: auto;
}

.multicolumn-category-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-category-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-category-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-category-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-category-list.slider {
    padding: 0;
    overflow-y: hidden;
  }

  .multicolumn-category-list__item,
  .grid--4-col-desktop .multicolumn-category-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-category-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-category-card-spacing {
  padding: 0;
  margin: 0;
}

.background-none .multicolumn-category-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-category-card__info {
  padding-bottom: 0;
}

.background-none
  .multicolumn-category-card__image-wrapper
  + .multicolumn-category-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-category-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .multicolumn-category-card__image-wrapper
  + .multicolumn-category-card__info {
  padding-left: 1.5rem;
}

.background-none
  .multicolumn-category-list:not(.slider)
  .center
  .multicolumn-category-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-category-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn-category.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-category-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-category-list .multicolumn-category-card__info,
  .background-none
    .multicolumn-category-list:not(.slider)
    .center
    .multicolumn-category-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-category-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-category-card
  > .multicolumn-category-card__image-wrapper--full-width:not(
    .multicolumn-category-card-spacing
  ) {
  border-top-left-radius: calc(
    var(--text-boxes-radius) - var(--text-boxes-border-width)
  );
  border-top-right-radius: calc(
    var(--text-boxes-radius) - var(--text-boxes-border-width)
  );
  overflow: hidden;
}

.multicolumn-category.background-none .multicolumn-category-card {
  border-radius: 0;
}

.multicolumn-category-card__info .link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.multicolumn-category-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-category-list__item--empty {
    display: list-item;
  }
}
