.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 5rem;
  display: block;
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer-block.grid__item {
    padding: 0;
    margin: 4rem 0;
    width: 100%;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 3rem;
    padding-left: calc(4rem / var(--font-body-scale));
    padding-right: calc(4rem / var(--font-body-scale));
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom {
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
  background: #FFFFFF;
  color: #AAAAAA;
  font-size: 9px;
  padding: 10px 0;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: center;
  }

  .footer__content-bottom.scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-block__heading {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

@media screen and (min-width: 990px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

@media screen and (min-width: 750px) {
  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright {
    text-align: right;
  }

  .footer__copyright {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0;
  }

  .copyright__content {
    text-align: left;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

@media screen and (max-width: 989px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 2rem;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block__brand-info {
  text-align: center;
}


@media screen and (min-width: 750px) {
  .footer-block__brand-info {
  text-align: left;
}

  .footer-block__image-wrapper {
  margin-left: 0;
  margin-right: 0;
}
}

.footer-block__brand-info p{
  font-size: 9px;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-socials {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
  margin-top: 20px;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: 9px;
  text-align: center;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

@media screen and (min-width: 750px) {
  .footer-block__brand-info .footer__list-social.list-social {
    justify-content: flex-start;
  }
  .policies li a {
    padding: 0;
  }
}
@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

.footer-block__details-content h6:nth-of-type(1)::before{
  margin-right: 5px;
  content: url("data:image/svg+xml,%3Csvg id='rodape-telefone' xmlns='http://www.w3.org/2000/svg' width='15.715' height='15.748' viewBox='0 0 15.715 15.748'%3E%3Cg id='Grupo_137' data-name='Grupo 137' transform='translate(0 0)'%3E%3Cpath id='Caminho_148' data-name='Caminho 148' d='M15.842,11.557l-2.2-2.2a1.462,1.462,0,0,0-2.433.549,1.5,1.5,0,0,1-1.727.942A6.777,6.777,0,0,1,5.4,6.77a1.423,1.423,0,0,1,.942-1.727A1.462,1.462,0,0,0,6.894,2.61L4.7.412a1.568,1.568,0,0,0-2.119,0L1.086,1.9c-1.491,1.57.157,5.73,3.846,9.419s7.849,5.416,9.419,3.846l1.491-1.491A1.568,1.568,0,0,0,15.842,11.557Z' transform='translate(-0.539 0)' fill='%23e2c224'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-block__details-content h6:nth-of-type(2)::before{
  margin-right: 5px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.313' height='18.401' viewBox='0 0 18.313 18.401'%3E%3Cpath id='rodape-whats' d='M15.895,2.674a9.12,9.12,0,0,0-14.351,11L.25,18.4l4.834-1.268a9.109,9.109,0,0,0,4.357,1.11h0a9.122,9.122,0,0,0,6.45-15.569ZM9.445,16.7h0a7.569,7.569,0,0,1-3.857-1.056l-.277-.164-2.868.752.766-2.8-.18-.287A7.579,7.579,0,1,1,9.445,16.7ZM13.6,11.027c-.228-.114-1.348-.665-1.557-.741s-.361-.114-.512.114-.589.741-.721.893-.266.171-.494.057a6.223,6.223,0,0,1-1.832-1.131A6.872,6.872,0,0,1,7.218,8.641c-.133-.228,0-.34.1-.465a6.445,6.445,0,0,0,.57-.779A.419.419,0,0,0,7.868,7c-.057-.114-.512-1.235-.7-1.692s-.373-.384-.513-.391-.285-.008-.437-.008a.837.837,0,0,0-.608.285,2.555,2.555,0,0,0-.8,1.9,4.432,4.432,0,0,0,.93,2.357,10.156,10.156,0,0,0,3.892,3.44,13.041,13.041,0,0,0,1.3.48,3.123,3.123,0,0,0,1.435.09,2.347,2.347,0,0,0,1.538-1.083,1.9,1.9,0,0,0,.133-1.083c-.057-.1-.209-.152-.437-.266Zm0,0' transform='translate(-0.25)' fill='%23e2c224' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.footer-block__details-content h6:nth-of-type(3)::before{
  margin-right: 5px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.313' height='18.312' viewBox='0 0 18.313 18.312'%3E%3Cpath id='rodape-email' d='M18.48,17.648H10.156a7.5,7.5,0,1,1,7.12-5.16,1.507,1.507,0,0,1-1.435,1,1.526,1.526,0,0,1-1.524-1.524V6.827a.832.832,0,0,0-1.665,0v.021a4.121,4.121,0,0,0-2.5-.854,4.162,4.162,0,1,0,2.769,7.246,3.19,3.19,0,0,0,2.917,1.91,3.148,3.148,0,0,0,3.017-2.144,9.157,9.157,0,1,0-8.7,6.306H18.48a.832.832,0,1,0,0-1.665Zm-8.324-4.994a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,10.156,12.653Z' transform='translate(-1 -1.001)' fill='%23e2c224'/%3E%3C/svg%3E%0A");
}

.footer-block__details-content h6:nth-of-type(4)::before{
  margin-right: 5px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg id='rodape_hora' transform='translate(-1 -1)'%3E%3Cpath id='Caminho_149' data-name='Caminho 149' d='M10,1a9,9,0,1,0,9,9A9,9,0,0,0,10,1Zm0,16a7,7,0,1,1,7-7A7,7,0,0,1,10,17Z' fill='%23e2c224'/%3E%3Cpath id='Caminho_150' data-name='Caminho 150' d='M11,9.586V6A1,1,0,0,0,9,6v4a1,1,0,0,0,.293.707l2,2a1,1,0,1,0,1.414-1.414Z' fill='%23e2c224'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer__blocks-wrapper > div {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
    .footer__blocks-wrapper > div {
    max-width: 17% !important;
  }
}